PixelIT.json
[
    {
        "id": "e6d349d60ead1d22",
        "type": "tab",
        "label": "Pixelit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4e971f2ef38e599",
        "type": "group",
        "z": "e6d349d60ead1d22",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fb308667efd5910d",
            "c06ac188f7816301",
            "6cf3e4f4e466f862"
        ],
        "x": 214,
        "y": 1739,
        "w": 592,
        "h": 82
    },
    {
        "id": "ba20696214f01382",
        "type": "Core",
        "z": "e6d349d60ead1d22",
        "name": "Core",
        "ip": "10.0.0.198",
        "masterTopic": "",
        "x": 1950,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5cec2660c744c907",
        "type": "Alert Screen",
        "z": "e6d349d60ead1d22",
        "name": "Alert Screen",
        "x": 1950,
        "y": 340,
        "wires": [
            [
                "ba20696214f01382"
            ]
        ]
    },
    {
        "id": "d19b33bdbe0da5d0",
        "type": "Matrix Control",
        "z": "e6d349d60ead1d22",
        "name": "Matrix Control",
        "x": 1420,
        "y": 1160,
        "wires": [
            [
                "ba20696214f01382"
            ]
        ]
    },
    {
        "id": "e1c7607aba00f937",
        "type": "Playlist Update",
        "z": "e6d349d60ead1d22",
        "name": "Playlist Update",
        "x": 1580,
        "y": 1940,
        "wires": [
            [
                "ba20696214f01382"
            ]
        ]
    },
    {
        "id": "2376211a270aa3d7",
        "type": "change",
        "z": "e6d349d60ead1d22",
        "name": "Display Playlist",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"screenName\":\"internal_clock\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1960,
        "wires": [
            [
                "e1c7607aba00f937"
            ]
        ]
    },
    {
        "id": "79f76e43dd2674a2",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Instant",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 990,
        "y": 1960,
        "wires": [
            [
                "2376211a270aa3d7"
            ]
        ]
    },
    {
        "id": "56ec3c556342c606",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "Display Playlist",
        "info": "",
        "x": 800,
        "y": 1960,
        "wires": []
    },
    {
        "id": "c7904ab3408cf6c0",
        "type": "Playlist Update",
        "z": "e6d349d60ead1d22",
        "name": "Playlist Update",
        "x": 1000,
        "y": 40,
        "wires": [
            [
                "ba20696214f01382"
            ]
        ]
    },
    {
        "id": "4d85108af62d0e84",
        "type": "change",
        "z": "e6d349d60ead1d22",
        "name": "Clear Playlist",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 40,
        "wires": [
            [
                "c7904ab3408cf6c0"
            ]
        ]
    },
    {
        "id": "6274712a2daa1c18",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Instant",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 40,
        "wires": [
            [
                "4d85108af62d0e84"
            ]
        ]
    },
    {
        "id": "6cf3e4f4e466f862",
        "type": "server-events",
        "z": "e6d349d60ead1d22",
        "g": "d4e971f2ef38e599",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 1,
        "event_type": "sleepMode",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "sleepMode",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 490,
        "y": 1780,
        "wires": [
            [
                "fb308667efd5910d"
            ]
        ]
    },
    {
        "id": "fb308667efd5910d",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "g": "d4e971f2ef38e599",
        "name": "Display ON",
        "func": "msg.sleepMode = msg.payload.event.sleepMode;\nnode.status({ fill: \"yellow\", shape: \"ring\", text: \"SleepMode is \" + msg.payload.event.sleepMode});\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1780,
        "wires": [
            [
                "d19b33bdbe0da5d0"
            ]
        ]
    },
    {
        "id": "c06ac188f7816301",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "g": "d4e971f2ef38e599",
        "name": "SleepMode",
        "info": "",
        "x": 310,
        "y": 1780,
        "wires": []
    },
    {
        "id": "472d1b13462fcf6c",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "Switch Animation",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 670,
        "y": 840,
        "wires": [
            [
                "6915c17995eed758"
            ]
        ]
    },
    {
        "id": "6915c17995eed758",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "PERSON DETECTED",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "8",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "23",
        "incolorG": "156",
        "incolorB": "199",
        "x": 990,
        "y": 840,
        "wires": [
            [
                "a515430f1db0c5c3"
            ]
        ]
    },
    {
        "id": "16d565d6e3ac7ed2",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1620,
        "wires": [
            [
                "25eb055c76ec7d85"
            ]
        ]
    },
    {
        "id": "25eb055c76ec7d85",
        "type": "ha-api",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 1,
        "debugenabled": false,
        "protocol": "http",
        "method": "get",
        "path": "http://10.0.0.198/api/dhtsensor",
        "data": "",
        "dataType": "json",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "3a72ea3034629601",
                "351dc95419cbec02",
                "327c9c340ad76234"
            ]
        ]
    },
    {
        "id": "3a72ea3034629601",
        "type": "ha-entity",
        "z": "e6d349d60ead1d22",
        "name": "Temperature",
        "server": "79987ec4.fcfd2",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "pixelITTemp"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "°"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "$round($number(payload.temperature),1)",
        "stateType": "jsonata",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "$entity().state ? \"on\": \"off\"",
        "outputPayloadType": "jsonata",
        "x": 610,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "351dc95419cbec02",
        "type": "ha-entity",
        "z": "e6d349d60ead1d22",
        "name": "Pressure",
        "server": "79987ec4.fcfd2",
        "version": 2,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "pixelITPressure"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": "°"
            },
            {
                "property": "state_class",
                "value": ""
            },
            {
                "property": "last_reset",
                "value": ""
            }
        ],
        "state": "payload.pressure",
        "stateType": "jsonata",
        "attributes": [],
        "resend": true,
        "outputLocation": "payload",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "outputOnStateChange": false,
        "outputPayload": "$entity().state ? \"on\": \"off\"",
        "outputPayloadType": "jsonata",
        "x": 780,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "3509c1eb5c2818ee",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "WeatherOut",
        "induration": "60",
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "ced9e13383fde498"
            ]
        ]
    },
    {
        "id": "0a6175744bf6456e",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Weather",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 1-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "3509c1eb5c2818ee"
            ]
        ]
    },
    {
        "id": "d9c665f8789fe5fb",
        "type": "debug",
        "z": "e6d349d60ead1d22",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b048fd7ac63fbf03",
        "type": "delay",
        "z": "e6d349d60ead1d22",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 1180,
        "wires": [
            [
                "c7033fa76d890969"
            ]
        ]
    },
    {
        "id": "c7033fa76d890969",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "text",
        "func": "//debug\n\n//debug\nmsg.payload.temp=msg.payload.temp.toFixed(1);\nmsg.payload.temp=msg.payload.temp+\"°\";\nmsg.payload.icon=431;\n\nreturn msg;\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1180,
        "wires": [
            [
                "e64af3a4c54a460d",
                "fb39842f73658d30"
            ]
        ]
    },
    {
        "id": "7a16a9c932e6c7c6",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.pixelittemp",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.temp",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "b048fd7ac63fbf03",
                "d9c665f8789fe5fb"
            ]
        ]
    },
    {
        "id": "4ef353352d07c17e",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "7a16a9c932e6c7c6"
            ]
        ]
    },
    {
        "id": "327c9c340ad76234",
        "type": "debug",
        "z": "e6d349d60ead1d22",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1560,
        "wires": []
    },
    {
        "id": "e64af3a4c54a460d",
        "type": "delay",
        "z": "e6d349d60ead1d22",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 1180,
        "wires": [
            [
                "8196ff0cdc9e1b3f"
            ]
        ]
    },
    {
        "id": "f07f5c13c449717b",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "AlexaTimer",
        "induration": "5",
        "x": 370,
        "y": 1380,
        "wires": [
            [
                "d85b37ffbce32091"
            ]
        ]
    },
    {
        "id": "d85b37ffbce32091",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "Switch Animation",
        "aktiv": "false",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 570,
        "y": 1380,
        "wires": [
            [
                "a26218ccc304bd4f"
            ]
        ]
    },
    {
        "id": "3a86a4c05b9f02cb",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "{{msg.payload.time}}",
        "inbigFont": "false",
        "inscrollText": "false",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "12",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "{{msg.payload.red}}",
        "incolorG": "{{msg.payload.green}}",
        "incolorB": "37",
        "x": 1190,
        "y": 1380,
        "wires": [
            [
                "514fc6e787d44ba3"
            ]
        ]
    },
    {
        "id": "827af95a6b36bf7d",
        "type": "delay",
        "z": "e6d349d60ead1d22",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 1460,
        "wires": [
            [
                "a26218ccc304bd4f"
            ]
        ]
    },
    {
        "id": "514fc6e787d44ba3",
        "type": "Bitmap Animation",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap Animation",
        "indata": "21",
        "inanimationDelay": "100",
        "inrubberbanding": "false",
        "inlimitLoops": "0",
        "x": 1370,
        "y": 1380,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "9f5e18d29203d0a7",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "Timer1",
        "func": "// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar now=new Date()\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\n\n//debug\nmsg.payload.seconds=(msg.payload.timestamp-now.getTime())/1000;\n// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload.seconds * 1000)).toUTCString()\nvar text=\"\";\nif(msg.payload.seconds>300) //über 5 minuten hh:mm\n    {\n        text = time.match(/(\\d\\d:\\d\\d)/)[0]+\" \";\n        msg.payload.red=0;\n\n    }\nelse//unter 5 minunten mm:ss\n    {\n        text = time.match(/(\\d\\d:\\d\\d )/)[0];\n        msg.payload.red=250;\n        msg.delay=1000*1;\n        \n    }\n\n//if(msg.payload.seconds>299+29) //über 5,5 Minuten refresh nur alle 30 sekunden\n    {\n        \n    }\n\n\n\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload.time = text;\n\nreturn msg;\n\n\n\n//",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1380,
        "wires": [
            [
                "fd77f8d979892da3"
            ]
        ]
    },
    {
        "id": "a09837bc63269ac1",
        "type": "link in",
        "z": "e6d349d60ead1d22",
        "name": "",
        "links": [
            "6d99a7919b157913",
            "33bd23924075efee"
        ],
        "x": 125,
        "y": 1380,
        "wires": [
            [
                "f07f5c13c449717b",
                "7ea4307c539dc25c"
            ]
        ]
    },
    {
        "id": "655aad705d1dc33f",
        "type": "debug",
        "z": "e6d349d60ead1d22",
        "name": "init",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a26218ccc304bd4f",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "Multi",
        "func": "\nvar now=new Date()\nvar inactiveTimers=0;\n\n\nif(msg.payload.timer.length>1)\n{\nif(msg.payload.delay>=5||msg.delay>1000)\n{\nnode.error((msg.payload.timer[msg.payload.multiTimer]-now.getTime())/1000)\n\n//\ndo\n{\nmsg.payload.multiTimer=(msg.payload.multiTimer+1)%msg.payload.timer.length;\nmsg.payload.delay=0; \nnode.error(inactiveTimers);\ninactiveTimers++;\n\n}\nwhile((((msg.payload.timer[msg.payload.multiTimer]-now.getTime())/1000)<0)&&inactiveTimers<5)\n    \n}\nmsg.payload.delay++;\n//for tshoot\n\nmsg.payload.timestamp=msg.payload.timer[msg.payload.multiTimer];\nmsg.payload.green=230-(50*msg.payload.multiTimer);\n\n\n\n//msg.delay=1000*3;\n}\nelse\n{\n\nmsg.payload.timestamp=msg.payload.timer;\nmsg.payload.green=230;\nmsg.payload.multiTimer=0;\n\n}\nreturn msg;\n\n\n\n//payload.timer",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "655aad705d1dc33f",
                "9f5e18d29203d0a7"
            ]
        ]
    },
    {
        "id": "fd77f8d979892da3",
        "type": "switch",
        "z": "e6d349d60ead1d22",
        "name": "",
        "property": "payload.seconds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "-5",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "-5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1030,
        "y": 1380,
        "wires": [
            [
                "3a86a4c05b9f02cb"
            ],
            [
                "827af95a6b36bf7d"
            ],
            []
        ]
    },
    {
        "id": "f81480a527272a86",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "7ea4307c539dc25c",
                "f07f5c13c449717b"
            ]
        ]
    },
    {
        "id": "7ea4307c539dc25c",
        "type": "change",
        "z": "e6d349d60ead1d22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1460,
        "wires": [
            [
                "827af95a6b36bf7d"
            ]
        ]
    },
    {
        "id": "32986c0c3271b2e0",
        "type": "Bitmap",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap",
        "indata": "[0,0,0,0,64512,65514,65504,64512,0,0,0,64512,65514,65504,64512,0,0,0,64512,65514,65504,64512,0,0,0,64512,65514,65504,64512,0,0,0,0,0,64512,64512,65514,65504,64512,0,0,0,64512,65514,65504,64512,0,0,0,64512,65514,65504,64512,0,0,0,64512,65514,65514,64512,0,0,0,0]",
        "inposX": "0",
        "inposY": "0",
        "inwidth": "8",
        "inheight": "8",
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "ba4898856cab1f13",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "Laser",
        "info": "",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "21ce9a093739291e",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "5d6496d30be3eb3f"
            ]
        ]
    },
    {
        "id": "46bf7764cef5a615",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "Switch Animation",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "1b25e261b27c52b1"
            ]
        ]
    },
    {
        "id": "5d6496d30be3eb3f",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "washer",
        "induration": "5",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "46bf7764cef5a615"
            ]
        ]
    },
    {
        "id": "9540f2f70b3df879",
        "type": "Bitmap",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap",
        "indata": "[0,54970,44373,65535,0,0,0,0,0,54970,44373,65535,0,0,0,0,0,54970,33808,65535,0,0,0,0,0,54970,33808,65535,0,0,0,0,54970,33808,33808,65535,65535,0,0,0,0,54970,33808,65535,0,0,0,0,0,0,54970,0,0,0,0,0,0,0,20490,43029,63519,63519,64191,64191]",
        "inposX": "0",
        "inposY": "0",
        "inwidth": "8",
        "inheight": "8",
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "18b1b5996ca05c6f",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "3D Printer",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "1b25e261b27c52b1",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "3D PRINTING IS DONE",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "9",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "233",
        "incolorG": "227",
        "incolorB": "37",
        "x": 890,
        "y": 100,
        "wires": [
            [
                "9540f2f70b3df879"
            ]
        ]
    },
    {
        "id": "431d6f4bfc1f796a",
        "type": "server-events",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 1,
        "event_type": "LaserOFF",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "bfce7a536ae82e01"
            ]
        ]
    },
    {
        "id": "bfce7a536ae82e01",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "washer",
        "induration": "60",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "18cdac825ce56c1d"
            ]
        ]
    },
    {
        "id": "18cdac825ce56c1d",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "Switch Animation",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "cfbcaa079b7dbb6d"
            ]
        ]
    },
    {
        "id": "cfbcaa079b7dbb6d",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "LASER HAS FINISHED",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "8",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "233",
        "incolorG": "227",
        "incolorB": "37",
        "x": 890,
        "y": 200,
        "wires": [
            [
                "32986c0c3271b2e0"
            ]
        ]
    },
    {
        "id": "f59ff38165b3f3b1",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "EV",
        "info": "",
        "x": 70,
        "y": 380,
        "wires": []
    },
    {
        "id": "b16e36e3594646be",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "swiAni",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "2f392c62bff8bec6"
            ]
        ]
    },
    {
        "id": "7f392ffee4b37127",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "{{payload}}",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "8",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "233",
        "incolorG": "227",
        "incolorB": "37",
        "x": 1290,
        "y": 380,
        "wires": [
            [
                "0a488c06e98fbb13"
            ]
        ]
    },
    {
        "id": "b445610c29bc3516",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "washer",
        "induration": "10",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "b16e36e3594646be"
            ]
        ]
    },
    {
        "id": "b2ba36e2e5114f0d",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "7a294af8aa944982"
            ]
        ]
    },
    {
        "id": "2f392c62bff8bec6",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "soc",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ioniqsoc",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "IoniqSoc",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 930,
        "y": 380,
        "wires": [
            [
                "eb6ead5936185ceb"
            ]
        ]
    },
    {
        "id": "e419f4e90eb974e5",
        "type": "server-state-changed",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.ioniqsoc",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "6c4266e350f01cb2"
            ],
            []
        ]
    },
    {
        "id": "5db4ff71c301a66a",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "text",
        "func": "msg.payload=msg.payload+\"% (\"+msg.limit+\")\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "7f392ffee4b37127"
            ]
        ]
    },
    {
        "id": "1331b311b986b6c9",
        "type": "server-events",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 1,
        "event_type": "doorBell",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "b5bf31be982a375b"
            ]
        ]
    },
    {
        "id": "b5bf31be982a375b",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "washer",
        "induration": "30",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "37a4e3c3d470c992"
            ]
        ]
    },
    {
        "id": "37a4e3c3d470c992",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "Switch Animation",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "c52dbb786c61cb80"
            ]
        ]
    },
    {
        "id": "c52dbb786c61cb80",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "DOORBELL",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "8",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "233",
        "incolorG": "227",
        "incolorB": "37",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "eabcbb241f3a4979"
            ]
        ]
    },
    {
        "id": "eabcbb241f3a4979",
        "type": "Bitmap",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap",
        "indata": "[0,0,0,65318,58761,0,0,0,0,0,65517,65517,65318,58761,0,0,0,0,65517,65512,65318,58761,0,0,0,0,65318,65318,65318,65318,0,0,0,58761,58761,58761,58761,62853,62853,0,0,58761,65318,65318,65318,58761,58761,0,65318,65318,62853,62853,62853,62853,58761,58761,0,0,62853,62853,65318,58761,0,0]",
        "inposX": "0",
        "inposY": "0",
        "inwidth": "8",
        "inheight": "8",
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "eb6ead5936185ceb",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "limit",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.charge_limit",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "IoniqSoc",
                "valueType": "str"
            },
            {
                "property": "limit",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "5db4ff71c301a66a"
            ]
        ]
    },
    {
        "id": "0a488c06e98fbb13",
        "type": "Bitmap Animation",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap Animation",
        "indata": "502",
        "inanimationDelay": "100",
        "inrubberbanding": "false",
        "inlimitLoops": "0",
        "x": 1470,
        "y": 380,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "cba28d5d41a08f45",
        "type": "server-state-changed",
        "z": "e6d349d60ead1d22",
        "name": "3dPrinter",
        "server": "79987ec4.fcfd2",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.octoprint_printing",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "10",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "5d6496d30be3eb3f"
            ],
            []
        ]
    },
    {
        "id": "641bedf744771c97",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "{{payload}}",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "8",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "233",
        "incolorG": "227",
        "incolorB": "37",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "36f0bba228a3c5fa"
            ]
        ]
    },
    {
        "id": "8c280c4b582321d1",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "swiAni",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "641bedf744771c97"
            ]
        ]
    },
    {
        "id": "70f537c5ba6b753b",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "washer",
        "induration": "10",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "8c280c4b582321d1"
            ]
        ]
    },
    {
        "id": "36f0bba228a3c5fa",
        "type": "Bitmap Animation",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap Animation",
        "indata": "72",
        "inanimationDelay": "100",
        "inrubberbanding": "false",
        "inlimitLoops": "0",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "d17e4e93c275a576",
        "type": "server-state-changed",
        "z": "e6d349d60ead1d22",
        "name": "PixelIT Text",
        "server": "79987ec4.fcfd2",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_text.pixelit_text",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "70f537c5ba6b753b"
            ]
        ]
    },
    {
        "id": "b8e54fad8712f6bc",
        "type": "server-state-changed",
        "z": "e6d349d60ead1d22",
        "name": "WlanThermo Online",
        "server": "79987ec4.fcfd2",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.wlanthermo_on",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 560,
        "wires": [
            [
                "a634686e67090ea3"
            ]
        ]
    },
    {
        "id": "ad6044fc0f51c35f",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.wlanthermo_channel_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "chan1",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "936e4546d13a80bf"
            ],
            [
                "936e4546d13a80bf"
            ]
        ]
    },
    {
        "id": "a634686e67090ea3",
        "type": "delay",
        "z": "e6d349d60ead1d22",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "ad6044fc0f51c35f",
                "6da9a77ae8876274"
            ]
        ]
    },
    {
        "id": "aa686dba8becd72d",
        "type": "Bitmap",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap",
        "indata": "[0,65535,65535,65535,0,65535,65535,0,0,65535,0,65535,0,65535,0,0,0,65535,63488,65535,0,65535,65535,0,0,65535,63488,65535,0,0,0,0,0,65535,63488,65535,0,0,0,0,65535,63488,63488,63488,65535,0,0,0,65535,63488,63488,63488,65535,0,0,0,0,65535,65535,65535,0,0,0,0]",
        "inposX": "0",
        "inposY": "0",
        "inwidth": "8",
        "inheight": "8",
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "d82c8b060c635305",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "text",
        "func": "msg.payload=\"\";\nif (msg.chan1!=\"0\")\n{msg.payload=msg.payload+\"1: \" + msg.chan1 + \"° | \";}\nif (msg.chan4!=\"0\")\n{msg.payload=msg.payload+\"KT: \" + msg.chan4 + \"° | \";}\nif (msg.chan5!=\"0\")\n{msg.payload=msg.payload+\"RT: \" + msg.chan5 + \"° | \";}\n\n\n\n\nreturn msg;\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 540,
        "wires": [
            [
                "72da148673f54a63"
            ]
        ]
    },
    {
        "id": "368918903f1011fa",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "BBQ",
        "induration": "5",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "ae474ae16139bafa"
            ]
        ]
    },
    {
        "id": "ae474ae16139bafa",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "swiAni",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 750,
        "y": 540,
        "wires": [
            [
                "d82c8b060c635305"
            ]
        ]
    },
    {
        "id": "72da148673f54a63",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "{{payload}}",
        "inbigFont": "false",
        "inscrollText": "true",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "8",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "233",
        "incolorG": "227",
        "incolorB": "37",
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "aa686dba8becd72d"
            ]
        ]
    },
    {
        "id": "936e4546d13a80bf",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.wlanthermo_channel_4",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "chan4",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 700,
        "wires": [
            [
                "a58bdc9063034be5"
            ],
            [
                "a58bdc9063034be5"
            ]
        ]
    },
    {
        "id": "a58bdc9063034be5",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.wlanthermo_channel_5",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "chan5",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 760,
        "wires": [
            [
                "368918903f1011fa",
                "63126928bc4af9a8"
            ],
            [
                "368918903f1011fa",
                "63126928bc4af9a8"
            ]
        ]
    },
    {
        "id": "6da9a77ae8876274",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "entity_id": "input_boolean.wlanthermo_on",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "a634686e67090ea3"
            ],
            []
        ]
    },
    {
        "id": "63126928bc4af9a8",
        "type": "delay",
        "z": "e6d349d60ead1d22",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1180,
        "y": 600,
        "wires": [
            [
                "8196ff0cdc9e1b3f"
            ]
        ]
    },
    {
        "id": "8196ff0cdc9e1b3f",
        "type": "Clock",
        "z": "e6d349d60ead1d22",
        "name": "Clock",
        "inswitchAktiv": "false",
        "inswitchSec": "60",
        "inwithSeconds": "false",
        "incolorHex": "",
        "incolorR": "255",
        "incolorG": "255",
        "incolorB": "255",
        "x": 1250,
        "y": 680,
        "wires": [
            [
                "7979738c3fbc03a0"
            ]
        ]
    },
    {
        "id": "7979738c3fbc03a0",
        "type": "Matrix Control",
        "z": "e6d349d60ead1d22",
        "name": "Matrix Control",
        "x": 1460,
        "y": 680,
        "wires": [
            [
                "ba20696214f01382"
            ]
        ]
    },
    {
        "id": "36c2704f53359a3e",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "CLOCK",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "8196ff0cdc9e1b3f"
            ]
        ]
    },
    {
        "id": "679cd250774723bf",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "ad6044fc0f51c35f"
            ]
        ]
    },
    {
        "id": "98c60c3cc5523265",
        "type": "server-state-changed",
        "z": "e6d349d60ead1d22",
        "name": "Person detected",
        "server": "79987ec4.fcfd2",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.e_person_detected",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 840,
        "wires": [
            [
                "36d639fd46ed2532"
            ],
            []
        ]
    },
    {
        "id": "a515430f1db0c5c3",
        "type": "Bitmap Animation",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap Animation",
        "indata": "607",
        "inanimationDelay": "100",
        "inrubberbanding": "false",
        "inlimitLoops": "0",
        "x": 1330,
        "y": 840,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "7f8569e52b6da413",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "36d639fd46ed2532"
            ]
        ]
    },
    {
        "id": "36d639fd46ed2532",
        "type": "Screen Init",
        "z": "e6d349d60ead1d22",
        "name": "Screen Init",
        "inscreenName": "Person",
        "induration": "60",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "472d1b13462fcf6c"
            ]
        ]
    },
    {
        "id": "5c5642fab790b026",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "bfce7a536ae82e01"
            ]
        ]
    },
    {
        "id": "6c4266e350f01cb2",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "goerng11",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 2,
        "halt_if": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "sensor.goenrg11",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "IoniqSoc",
                "valueType": "str"
            },
            {
                "property": "limit",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "b445610c29bc3516"
            ],
            []
        ]
    },
    {
        "id": "7a294af8aa944982",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ioniqsoc",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "b445610c29bc3516"
            ]
        ]
    },
    {
        "id": "0764f01c74f8a7eb",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "Doorbell",
        "info": "",
        "x": 80,
        "y": 280,
        "wires": []
    },
    {
        "id": "16f3a9ee57e41a71",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "b5bf31be982a375b"
            ]
        ]
    },
    {
        "id": "d2fa475bb0a52ca7",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "BBQ",
        "info": "",
        "x": 70,
        "y": 520,
        "wires": []
    },
    {
        "id": "4e61b5da925bb5f9",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "Person",
        "info": "",
        "x": 90,
        "y": 800,
        "wires": []
    },
    {
        "id": "4d67fbf9d74c78b7",
        "type": "Text",
        "z": "e6d349d60ead1d22",
        "name": "Text",
        "intextString": "{{msg.payload.temp}}",
        "inbigFont": "false",
        "inscrollText": "false",
        "inscrollTextDelay": "0",
        "incenterText": "false",
        "inposX": "12",
        "inposY": "1",
        "incolorHex": "",
        "incolorR": "253",
        "incolorG": "208",
        "incolorB": "23",
        "x": 1090,
        "y": 1060,
        "wires": [
            [
                "648d3e46e7be1489"
            ]
        ]
    },
    {
        "id": "648d3e46e7be1489",
        "type": "Bitmap Animation",
        "z": "e6d349d60ead1d22",
        "name": "Bitmap Animation",
        "indata": "{{msg.payload.icon}}",
        "inanimationDelay": "100",
        "inrubberbanding": "false",
        "inlimitLoops": "0",
        "x": 1270,
        "y": 1060,
        "wires": [
            [
                "5cec2660c744c907"
            ]
        ]
    },
    {
        "id": "fb39842f73658d30",
        "type": "Switch Animation",
        "z": "e6d349d60ead1d22",
        "name": "Switch Animation",
        "aktiv": "true",
        "animation": "fade",
        "indata": "",
        "inwidth": "",
        "incolorHex": "",
        "incolorR": "",
        "incolorG": "",
        "incolorB": "",
        "x": 910,
        "y": 1060,
        "wires": [
            [
                "4d67fbf9d74c78b7"
            ]
        ]
    },
    {
        "id": "ced9e13383fde498",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "Weather",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "weather.home",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "b1ddb707802232bd"
            ]
        ]
    },
    {
        "id": "2addeb7d933b8d73",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "text",
        "func": "//debug\n\n//debug\nvar d=new Date();\nvar hours=d.getHours() //the hour (0-23)\n\nmsg.payload.temp=\"0\";\nmsg.payload.temp=msg.payload.atemp+\"°\";\n\n\nif(msg.payload.state==\"sunny\")\n{if (hours>20 || hours < 6)\nmsg.payload.icon=560;\nelse\nmsg.payload.icon=534;\n}\nelse if(msg.payload.state==\"cloudy\" || msg.payload.state==\"partlycloudy\")\nmsg.payload.icon=552;\nelse if(msg.payload.state==\"pouring\" || msg.payload.state==\"rainy\")\nmsg.payload.icon=12;\nelse if(msg.payload.state==\"snowy\" || msg.payload.state==\"snowy-rainy\" || msg.payload.state==\"hail\")\nmsg.payload.icon=18;\nelse if(msg.payload.state==\"windy\" || msg.payload.state==\"windy-variant\")\nmsg.payload.icon=65;\nelse if(msg.payload.state==\"lightning\" || msg.payload.state==\"lightning-rainy\")\nmsg.payload.icon=71;\n\n\nelse\nmsg.payload.icon=316;\n\nreturn msg;\n\n\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1060,
        "wires": [
            [
                "fb39842f73658d30",
                "7a16a9c932e6c7c6"
            ]
        ]
    },
    {
        "id": "b1ddb707802232bd",
        "type": "api-current-state",
        "z": "e6d349d60ead1d22",
        "name": "Aussentemp",
        "server": "79987ec4.fcfd2",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.aussentemperatur",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload.atemp",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "2addeb7d933b8d73"
            ]
        ]
    },
    {
        "id": "5bc67212f4378ccb",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "Get States manually",
        "info": "",
        "x": 130,
        "y": 1580,
        "wires": []
    },
    {
        "id": "be377a47fe2792b8",
        "type": "comment",
        "z": "e6d349d60ead1d22",
        "name": "Alexa Alarms",
        "info": "",
        "x": 130,
        "y": 1340,
        "wires": []
    },
    {
        "id": "05439c0a85d6c506",
        "type": "alexa-remote-event",
        "z": "e6d349d60ead1d22",
        "name": "get Echo Device",
        "account": "21a143d4.8f9b3c",
        "event": "ws-device-activity",
        "x": 120,
        "y": 2060,
        "wires": [
            [
                "185522014eaf25c6",
                "ce1ca1b9afcd6d8f"
            ]
        ]
    },
    {
        "id": "185522014eaf25c6",
        "type": "change",
        "z": "e6d349d60ead1d22",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "echodevice",
                "pt": "flow",
                "to": "payload.deviceSerialNumber",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "ce1ca1b9afcd6d8f",
        "type": "delay",
        "z": "e6d349d60ead1d22",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 2120,
        "wires": [
            [
                "8609d3217a12bf3e"
            ]
        ]
    },
    {
        "id": "a10bf77da99f94c8",
        "type": "inject",
        "z": "e6d349d60ead1d22",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 2240,
        "wires": [
            [
                "8609d3217a12bf3e"
            ]
        ]
    },
    {
        "id": "8609d3217a12bf3e",
        "type": "alexa-remote-other",
        "z": "e6d349d60ead1d22",
        "name": "",
        "account": "21a143d4.8f9b3c",
        "config": {
            "option": "get",
            "value": {
                "what": "notifications"
            }
        },
        "x": 440,
        "y": 2240,
        "wires": [
            [
                "4287480f93bf33ab"
            ]
        ]
    },
    {
        "id": "4287480f93bf33ab",
        "type": "function",
        "z": "e6d349d60ead1d22",
        "name": "",
        "func": "var time=[];\nvar id=[];\nvar x=0;\nfor (var i=0; i<msg.payload.length;i++)\n{if (msg.payload[i].status==\"ON\")\n{time[x]=msg.payload[i].triggerTime;\nid[x]=msg.payload[0].notificationIndex;\nx=x+1;\n\n}\n}\nmsg.payload = {}\nmsg.payload.timer=time\nmsg.payload.id=id\nmsg.payload.multiTimer=0;\nmsg.payload.delay=1;\nmsg.delay=10*1000;\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2240,
        "wires": [
            [
                "33bd23924075efee"
            ]
        ]
    },
    {
        "id": "33bd23924075efee",
        "type": "link out",
        "z": "e6d349d60ead1d22",
        "name": "",
        "mode": "link",
        "links": [
            "a09837bc63269ac1"
        ],
        "x": 865,
        "y": 2280,
        "wires": []
    },
    {
        "id": "79987ec4.fcfd2",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "21a143d4.8f9b3c",
        "type": "alexa-remote-account",
        "name": "Maris Alexa",
        "authMethod": "proxy",
        "proxyOwnIp": "10.0.0.10",
        "proxyPort": "3456",
        "cookieFile": "/config/proxy.txt",
        "refreshInterval": "5",
        "alexaServiceHost": "layla.amazon.de",
        "amazonPage": "amazon.de",
        "acceptLanguage": "de-DE",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    }
]